.upper{
    width: 100%;
    text-align: center;
    height: auto;
}
.tital{
    width:70%;
    text-align: left;
    display: inline-block;

}
.tital2{
    display: flex;
    width: 100%;

}
.tital_text{
    font-size: 3em;
}
.tital_text2{
    font-size: 2em;
}
.lower{
    width: 100%;
    text-align: center;
    height: auto;
}
.registration{
    background-color: rgb(231, 211, 204);
    display: inline-block;
    width: 90%;
    text-align: center;
}
.table1{
    border: 0.1em solid rgb(0, 0, 0);
}
.choice{
    background-color: rgb(223, 217, 217);
    width: 100%;
    border-radius: 0.5em;
}
.sign{
    background-color: rgb(223, 217, 217);
    width: 100%;
    height: 33em;
    border-radius: 0.5em;
}
.pages{
    width: 80%;
}
.Button{
    color: rgb(42, 75, 182);
    background-color: rgb(230, 230, 230);
    border-radius: 0.4em;
    width: 90%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 2%;
    border: 0;
    font-size: 1.3em;
}
.Homeimg{
    width: 20%;
}
.d2{
    text-align: left;
}
.scroll{
    overflow: scroll;
}
td{
    border: 0.1em solid rgb(223, 217, 217);
}
p{
    font-size: 2em;
}
b{
    font-size: 1.5em;
}
.food_text{
    font-size: 1.5em;
}
